{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Sketcher</title>

<!-- bs4 css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	
<!-- canvas script -->
<script src="{% static 'fabric.js' %}"></script>

<script src="{% static 'unicode.js' %}"></script>

<!-- main script -->
<script src="{% static 'main.js' %}" > </script>

	
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#"><h1>Kha<small>tt</small></h1></a>
</nav>

  <div class="container-fluid">
        <div class = "row justify-content-center" style="margin-top:3em;">
          <div class = "col-3">
            <input type="text" class = "form-control" id="text" value=""  dir="rtl" readonly> 
          </div>

        </div>
        <div class = "row justify-content-center">
          <canvas id="canvas" width="500" height="500" class="canvas" style="border:1px solid #b9bfc9;margin-top:25px;"></canvas>
        </div>

        <div class = "row justify-content-center" style="margin-top:3em;">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary" onclick ='erase()'>Clear</button>
              <button type="button" class="btn btn-outline-primary" onclick ='save()' >Save</button>
              <button type="button" class="btn btn-outline-primary" onclick ='next()' >Next</button>
          </div>
        </div>
        <div class = "row justify-content-center" style="margin-top:3em;">
          <input type="range" min="1" max="10" value="5" class="form-range" id="myRange"> 
        </div>
  </div>
</body>

<script>
	
	start()
</script>
</html>
